<h1>{{ title }}</h1>
<input type="text" placeholder="Connection String" />
<input type="text" placeholder="Topic Name" />
<input type="text" placeholder="Subscription Name" />
<button (click)="updateConnection()">Update Service Bus Connection</button>
<button (click)="restartServer()">Restart Server</button>
<h2>Azure Service Bus Topic Messages</h2>
<div *ngIf="!messages.length">Loading...</div>
<ul *ngFor="let message of messages">
  <li>{{ message }}</li>
</ul>
<!-- <router-outlet></router-outlet> -->
