<h1>{{ title }}</h1>
<div class="saved-connections">
  <h2>Saved Connections</h2>
  <div *ngIf="isLoadingSavedConnections">Loading...</div>
  <ul>
    <li *ngFor="let connection of savedConnections">
      {{ connection.topic }} - {{ connection.sub }}
      <span *ngIf="connection.isActive" style="font-weight: bold;">
        [Active]</span
      >
    </li>
  </ul>
</div>
<input
  type="text"
  placeholder="Connection String"
  [(ngModel)]="connection.connString"
/>
<input type="text" placeholder="Topic Name" [(ngModel)]="connection.topic" />
<input
  type="text"
  placeholder="Subscription Name"
  [(ngModel)]="connection.sub"
/>
<button (click)="addSavedConnection()">Add Service Bus Connection</button>
<h2>Azure Service Bus Topic Messages</h2>
<div *ngIf="isLoadingMessages">Loading...</div>
<div *ngIf="!isLoadingMessages && !messages.length">No messages.</div>
<ol>
  <li *ngFor="let message of messages">{{ message }}</li>
</ol>
<!-- <router-outlet></router-outlet> -->
